body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.25em;
    margin: 0 auto;
    max-width: 600px;
    min-width: 320px;
}

.todo-list h1 {
    text-align: center;
}

.todo-list-items {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: stretch;

    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list-items > li {
    list-style:none;

    border: 3px solid #DDDDDD;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.todo-list-items > li:hover {
    border-color: #CCCCCC;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter {
    text-transform: capitalize;
    flex-grow: 1;
    margin-left: 10px;
}

.add-task {
    flex-grow: 1;
}

.todo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todo:hover {
    border-color: #CCCCCC;
}

.todo > * {
    padding: 0 5px;
}

.todo-task {
    flex-grow: 1;
}

input.todo-task {
    margin-right: 10px;
    height: 2em;
}

.todo-task.done {
    text-decoration: line-through;
    font-style: italic;
}

.todo-check {
    color: green;
}

.todo-check:hover {
    color: #00B000;
}

.todo-trash {
    color: red;
}

.todo-trash:hover {
    color: #BB0000;
}

.todo .edit {
    color: dodgerblue;
}

.todo .edit:hover {
    color: #1E70DF;
}

.todo .edit-save {
    color: green;
}

.todo .edit-save:hover {
    color: #00BB00;
}

.todo .edit-cancel {
    color: red;
}

.todo .edit-cancel:hover {
    color: #BB0000;
}

.fa.fa-btn {
    cursor: pointer;
}
